@CHARSET "UTF-8";
P {
	
}
H1 {
	FONT-SIZE: 13pt; COLOR: #cbc1ab; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif
}
H2 {
	FONT-SIZE: 12pt; COLOR: #cbc1ab; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif
}
H3 {
	FONT-SIZE: 11pt; COLOR: #cbc1ab; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif
}
H4 {
	FONT-SIZE: 10pt; COLOR: #cbc1ab; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif
}
H5 {
	FONT-SIZE: 10pt; COLOR: #cbc1ab; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif
}
H6 {
	FONT-SIZE: 10pt; COLOR: #cbc1ab; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif
}
A {
	FONT-WEIGHT: bold; COLOR: #e6e6e6; TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: none
}
A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
BODY {
	SCROLLBAR-FACE-COLOR: #302f2f; FONT-WEIGHT: normal; FONT-SIZE: 8pt; SCROLLBAR-HIGHLIGHT-COLOR: #6f6660; SCROLLBAR-SHADOW-COLOR: #201f1f; COLOR: #d0ccd0; SCROLLBAR-3DLIGHT-COLOR: #8f8880; LINE-HEIGHT: 12pt; SCROLLBAR-ARROW-COLOR: #cccccc; SCROLLBAR-TRACK-COLOR: #3f0000; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; SCROLLBAR-DARKSHADOW-COLOR: #222222
}
BLOCKQUOTE {
	FONT-SIZE: 11px; COLOR: #cbc1ab; LINE-HEIGHT: 12pt; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif
}
TD {
	FONT-SIZE: 11px; COLOR: #d0ccd0; LINE-HEIGHT: 12pt; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif
}
TH {
	FONT-SIZE: 11px; COLOR: #d0ccd0; LINE-HEIGHT: 12pt; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif
}
LI {
	LIST-STYLE-TYPE: square
}
.nav {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; LINE-HEIGHT: 11pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.small {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; LINE-HEIGHT: 11pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.big {
	FONT-WEIGHT: normal; FONT-SIZE: 12pt; LINE-HEIGHT: 12pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
TR.header {
	BACKGROUND-COLOR: #45070e
}
TR.one {
	BACKGROUND-COLOR: #2e2927
}
TR.two {
	BACKGROUND-COLOR: #151515
}
INPUT.one {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; FONT-SIZE: 10pt; BORDER-LEFT: 0px solid; COLOR: #d0ccd0; BORDER-BOTTOM: 0px solid; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; BACKGROUND-COLOR: #2e2927
}
INPUT.two {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; FONT-SIZE: 10pt; BORDER-LEFT: 0px solid; COLOR: #d0ccd0; BORDER-BOTTOM: 0px solid; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; BACKGROUND-COLOR: #151515
}
INPUT.onered {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; FONT-SIZE: 10pt; BORDER-LEFT: 0px solid; COLOR: #ff0000; BORDER-BOTTOM: 0px solid; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; BACKGROUND-COLOR: #2e2927
}
INPUT.oneblue {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; FONT-SIZE: 10pt; BORDER-LEFT: 0px solid; COLOR: #0000ff; BORDER-BOTTOM: 0px solid; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; BACKGROUND-COLOR: #2e2927
}
INPUT.twoblue {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; FONT-SIZE: 10pt; BORDER-LEFT: 0px solid; COLOR: #0000ff; BORDER-BOTTOM: 0px solid; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; BACKGROUND-COLOR: #151515
}
TD.blue {
	COLOR: #5555ff
}
TH.header {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #45070e
}
TD.header {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #45070e
}
.nav {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; LINE-HEIGHT: 10pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.small {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; LINE-HEIGHT: 10pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.big {
	FONT-WEIGHT: normal; FONT-SIZE: 12pt; LINE-HEIGHT: 10pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}